<h1> All Genres</h1>

<% @genres.each do |genre| %>
  <%= genre.name %>
<%end%>

    <h2>Create New Genre</h2>
    <%= form_for :genre do |f| %>
        <h2>Name:</h2>
        <h3><%= f.text_field :name%></h3>
        <%= f.submit %>
      <%end%>
